.button{
    color: black;
    background-color: white;
    border-radius: 8px 8px;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0px;
  }
.redtext{
    color:red;
}